@import "src/style/variables";
@import "src/style/mixins";

.select {
    position: relative;
    @include margin(0, 0, 0, 0);
    @include padding(0, 0, 0, 0);

    &-label {
        display: flex;
        align-items: center;
        @include margin(0, 0, 0, 0);
        @include padding(0, 0, 0, 0);

        &-title {
            font-weight: 500;
            @include margin(9px, 0, 9px, 0);
            @include padding(0, 0, 0, 0);
            color: $fontColorTitleSelect;
        }

        &__text {
            display: flex;
            width: 100%;
            @include font-size(.9);
            font-family: 'Segoe UI', sans-serif;
            align-items: center;
            @include margin(0, 0, 0, 0);
            @include padding(.7rem, 1rem, .7rem, 1rem);
            color: $fontColorTextSelect;
            border: 1px solid $borderColorTextSelect;
            border-radius: $borderRadiusTextSelect;
            cursor: pointer;

            &.active {
                border: 1px solid $borderColorTextActiveSelect;
            }

            &-icon {
                position: absolute;
                right: 15px;
                width: 10px;
                height: 10px;
                @include margin(0, 0, 0, 0);
                @include padding(0, 0, 0, 0);

                & svg {
                    position: absolute;
                    top: 1px;
                    @include margin(0, 0, 0, 0);
                    @include padding(0, 0, 0, 0);
                }
            }
        }
    }

    &-plate {
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        @include margin(0, 0, 0, 0);
        @include padding(0, 0, 0, 0);
        background-color: $backgroundPlateSelect;
        border-radius: $borderRadiusPlateSelect;
        box-shadow: $boxShadowPlateSelect;
        overflow: hidden;
        z-index: 1;

        &__list {
            position: relative;
            width: 100%;
            list-style: none;
            @include margin(0, 0, 0, 0);
            @include padding(5px, 0, 5px, 0);

            &-item {
                display: flex;
                width: 100%;
                height: 40px;
                align-items: center;
                @include margin(0, 0, 0, 0);
                @include padding(0, 5px, 0, 15px);
                color: $fontColorItemPlateSelect;
                transition: all 0.22s;

                &:hover {
                    color: $fontColorItemHoverPlateSelect;
                    background-color: $backgroundItemHoverPlateSelect;
                    cursor: pointer;
                    transition: all 0.22s;
                }

                &.active {
                    color: $fontColorItemActivePlateSelect;
                    background-color: $backgroundItemActivePlateSelect;
                }

                &:last-child {
                    @include margin(0, 0, 0, 0);
                }
            }
        }
    }
}

@media (min-width: $table-width) {
    .select {
        @include margin(0, 0, 0, 0);

        &-label {
            &-title {
                @include margin(9px, 0, 0, 0);
            }

            &__text {
                width: 200px;
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .select {
        @include margin(0, 9px, 0, 0);

        &:last-child {
            @include margin(0, 0, 0, 0);
        }

        &-label {
            &-title {
                @include margin(9px, 8px, 0, 0);
            }
        }

        &-plate {
            &__list {
                @include padding(5px, 0, 5px, 0);
            }
        }
    }
}