@import "src/style/variables";
@import "src/style/mixins";

.form {
    width: 100%;
    @include margin(0, 0, 0, 0);
    @include padding(0, 0, 0, 0);
    background-color: $backgroundForm;

    &-control {
        position: relative;
        display: flex;
        flex-direction: column;
        @include margin(0, 0, 0, 0);
        @include padding(0, 0, 0, 0);

        & input,
        & select,
        & textarea {
            display: block;
            width: 100%;
            @include font-size(.9);
            font-family: 'Segoe UI', sans-serif;
            @include margin(0, 0, 0, 0);
            @include padding(.7rem, 1rem, .7rem, 1rem);
            color: $colorInputForm;
            background-color: $backgroundInputForm;
            border: 1px solid $borderColorInputForm;
            border-radius: $borderRadiusInputForm;
            outline: none;
            resize: none;
        }

        & input::-webkit-input-placeholder {
            @include font-size(.9);
            color: $colorInputForm;
        }

        & input:-moz-input-placeholder {
            @include font-size(.9);
            color: $colorInputForm;
        }

        & input::-moz-input-placeholder {
            @include font-size(.9);
            color: $colorInputForm;
        }

        & input:-ms-input-placeholder {
            @include font-size(.9);
            color: $colorInputForm;
        }

        & label {
            display: block;
            font-weight: 500;
            @include margin(0, 0, .3rem, .3rem);
        }

        & input:active,
        & input:focus {
            border: 1px solid $borderColorFocusInputForm;
            transition: border 0.22s;
        }
    }
}

@media (min-width: $table-width) {
    .form {
        &-control {
            & input,
            & select,
            & textarea {
                max-width: 602px;
                @include margin(0, auto, 0, auto);
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .form {
        @include margin(0, 1.5rem, 0, 0);

        &-control {
            & input,
            & select,
            & textarea {
                width: 300px;
            }
        }
    }
}