@import "src/style/variables";
@import "src/style/mixins";

.list {
    width: 100%;
    @include margin(0, 0, 1rem, 0);
    @include padding(0, 0, 0, 0);
    background-color: $backgroundList;

    &-table {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        flex-wrap: wrap;
        width: 100%;
        @include margin(0, 0, 0, 0);
        @include padding(0, 0, 0, 0);

        &-item {
            width: 100%;
            @include margin(0.75rem, auto, 0.75rem, auto);
            background-color: $backgroundItemList;
            border-radius: $borderRadiusItemList;
            box-shadow: $boxShadowItemList;
            overflow: hidden;

            &__info {
                width: 100%;
                align-items: center;
                @include margin(0, 0, 0, 0);
                @include padding(0, 0, 0, 0);

                &-list {
                    display: flex;
                    flex-direction: column;
                    height: initial;
                    width: 100%;
                    list-style: none;
                    @include margin(0, 0, 0, 0);
                    @include padding(0, 0, 0, 0);
                }

                &-item {
                    display: flex;
                    flex-direction: column;
                    flex: 2 1 0;
                    width: 100%;
                    @include margin(0, 0, 0, 0);
                    @include padding(0, 0, 0, 0);
                    overflow: hidden;
                }

                &-avatar {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    @include margin(0, 0, 0, 0);
                    @include padding(0, 0, 0, 0);

                    &--image {
                        width: 100%;
                        height: 300px;
                        @include margin(0, 0, 0, 0);
                        @include padding(0, 0, 0, 0);
                        transition: opacity 0.5s ease 0s;
                        object-position: center center;
                        object-fit: cover;
                        opacity: 1;
                    }
                }
            }

            &__user {
                @include margin(0, 0, 0, 0);
                @include padding(0.75rem, 0.75rem, 0.75rem, 0.75rem);

                &-title {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    @include margin(0, 0, 0, 0);
                    @include padding(0, 0, 0, 0);

                    &--text {
                        @include font-size(1.5);
                        font-weight: 800;
                        line-height: 1.1;
                        @include margin(0, 0, 0, 0);
                        @include padding(0, 0, 0, 0);
                        color: $fontColorItemTextUserList;
                    }
                }

                &-status {
                    display: flex;
                    align-items: center;
                    width: 343px;
                    @include font-size(1);
                    font-weight: 500;
                    text-transform: capitalize;
                    @include margin(1px, 0, 0, 0);
                    @include padding(0, 0, 0, 0);
                    color: $fontColorItemStatusUserList;

                    &--icon {
                        width: 0.5rem;
                        height: 0.5rem;
                        @include margin(0, 0.375rem, 0, 0);
                        @include padding(0, 0, 0, 0);
                        border-radius: $borderRadiusItemIconUserList;
                    }

                    &--text {
                        @include margin(0, 0, 0, 0);
                        @include padding(0, 0, 0, 0);
                    }

                    &--alive {
                        background-color: $backgroundItemsAliveList;
                    }

                    &--dead {
                        background-color: $backgroundItemsDeadList;
                    }

                    &--unknown {
                        background-color: $backgroundItemsUnknownList;
                    }
                }

                &-loc {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 50px;
                    @include margin(5px, 0, 0, 0);
                    @include padding(0, 0, 0, 0);
                    color: $fontColorItemLocUserList;

                    &--title {
                        @include font-size(1);
                        font-weight: 500;
                        @include margin(0, 0, 0, 0);
                        @include padding(0, 0, 0, 0);
                        color: $fontColorItemLocTitleUserList;
                        background-color: #3c3e44;
                    }
                }

                &-btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    @include margin(10px, 0, 0, 0);
                    @include padding(0, 0, 0, 0);
                }
            }
        }
    }
}

@media (min-width: $table-width) {
    .list {
        &-table {
            &-item {
                display: flex;
                max-width: 600px;
                height: 220px;

                &:nth-child(19) {
                    @include margin(.75rem, auto, .75rem, auto);
                }

                &:last-child {
                    @include margin(.75rem, auto, 0, auto);
                }

                &__info {
                    &-list {
                        flex-direction: row;
                    }

                    &-item {
                        &:last-child {
                            flex: 3 1 0;
                            @include padding(0.75rem, 0.75rem, 0.75rem, 0.75rem);
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }

                    &-avatar {
                        width: 230px;
                        text-align: left;

                        &--image {
                            height: 220px;
                            border-bottom-left-radius: .5rem;
                        }
                    }
                }

                &__user {
                    @include padding(0, 0, 0, 0);

                    &-btn {
                        justify-content: unset;
                    }
                }
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .list {
        max-width: 1875px;

        &-table {
            max-width: 1920px;

            &-item {
                width: 600px;
                @include margin(.75rem, .75rem, .75rem, .75rem);

                &:nth-child(19) {
                    @include margin(.75rem, .75rem, 0, .75rem);
                }

                &:last-child {
                    @include margin(.75rem, auto, 0, 1rem);
                }
            }
        }
    }
}