.link {
    position: relative;
    place-content: center;
    place-items: center;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    font-size: .6rem;
    font-weight: 500;
    line-height: .5rem;
    letter-spacing: 0.05em;
    white-space: nowrap;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 0 5px;
    padding: .60rem 0.6rem;
    color: #ffffff;
    background-color: #24282f;
    border: 1px solid rgb(60, 62, 68);
    border-radius: 5px;
    outline: none;
    transition: all 0.22s;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}