@import "src/style/variables";
@import "src/style/mixins";

.btn {
    position: relative;
    place-content: center;
    place-items: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    @include font-size(.6);
    font-weight: 500;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    @include margin(0, 0, 0, 0);
    @include padding(.80rem, .6rem, .88rem, .6rem);
    color: $fontColorButton;
    background-color: $backgroundButton;
    border: 1px solid $borderColorButton;
    border-radius: $borderRadiusButton;
    outline: none;
    transition: all 0.22s;

    &:last-child {
        @include margin(0, 0, 0, 0);
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    &:disabled {
        color: #999999!important;
        background-color: #eeeeee!important;
        border-color: #dddddd!important;
        opacity: 1!important;
        cursor: not-allowed;
    }

    &:active {
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    &.primary {
        color: #ffffff;
        background-color: #ff9800;
    }
}

@media (min-width: $table-width) {
    .btn {
        @include padding(.62rem, .6rem, .62rem, .6rem);
    }
}

@media (min-width: $desktop-width) {
    .btn {
        @include padding(.51rem, .6rem, .51rem, .6rem);
    }
}