.filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .75rem 0;
    margin: 0;
    color: #202329;
    background-color: rgb(36, 40, 47);

}

@media (min-width: 768px) {
    .filter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem 0 1rem 0;
        margin: 0;
        color: #202329;
        background-color: rgb(36, 40, 47);
    }
}

@media (min-width: 1280px) {
    .filter {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 561px;
        padding: 1rem 0 1rem 0;
        margin: 0;
        color: #202329;
        background-color: rgb(36, 40, 47);
    }
}