@import "src/style/variables";
@import "src/style/mixins";

.filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include margin(0, 0, 0, 0);
    @include padding(.75rem, 0, .75rem, 0);
    color: $fontColorFilter;
    background-color: $backgroundFilter;

}

@media (min-width: $table-width) {
    .filter {
        flex-direction: row;
        justify-content: space-between;
        max-width: 600px;
        align-items: center;
        @include padding(1rem, 0, 1rem, 0);
    }
}

@media (min-width: $desktop-width) {
    .filter {
        max-width: 561px;
    }
}