html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size;
  color: $fonts-color;
  background-color: $background-main;
}

ol,
p,
ul {
  line-height: 1.5;
}

.noFill {
  fill: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #3eaf7c;
  font-weight: 500;
  text-decoration: none;
}

svg {
  overflow: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}