@import "src/style/variables";
@import "src/style/mixins";

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  flex-flow: column nowrap;
  width: 100%;
  min-height: calc(120px);
  align-items: center;
  @include margin(0, 0, 0, 0);
  @include padding(4.5rem, 0, 4.5rem, 0);
  color: $fontColorFooter;
  background-color: $backgroundFooter;

  &-context {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 29px;
    @include font-size(.75);
    align-items: center;
    @include margin(0, 0, 0, 0);
    @include padding(0, 0, 0, 0);

    &-link {
      @include font-size(.75);
      font-weight: bold;
      @include margin(0, 0, 0, 5px);
      @include padding(0, 0, 0, 0);
      color: $fontColorFooterLink;
      border-bottom: 1px solid $borderColorFooterLink;
      transition: color 0.2s ease 0s;

      &:active {
        color: $fontColorFooterLinkActive;
        border-bottom: 1px solid transparent;
      }
    }

    &-text {
      @include margin(0, 10px, 0, 0);
      @include padding(0, 0, 0, 0);

      &:last-child {
        @include margin(0, 0, 0, 0);
      }
    }
  }
}

@media (min-width: $table-width) {
  .footer {
    &-context {
      @include font-size(.95);

      &-link {
        @include font-size(.95);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    &-context {
      @include font-size(1);

      &-link {
        @include font-size(1);

        &:hover {
          color: $fontColorFooterLinkHover;
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}